<h3>Strafe</h3>

<!-- TODO: Replace search Function with QR Code and team_id query-->

<label for="newTeamName">Team suchen:</label>
<input id="newTeamName" type="text" [formControl]="newTeamName" (input)="searchTeam()">

<br><br>

<ul class="teamnames">
    <li *ngFor="let team of teamnames">
        <button class="name" (click)="getTimeByName(team.teamname)">{{team.teamname}}</button>
    </li>
</ul>

<p>Team: {{currentTeam.teamname}}</p>
<p class="time">Zeit: {{timespan.hours | number: '2.0-0'}}:{{timespan.minutes | number: '2.0-0'}}:{{timespan.seconds | number: '2.0-0'}}</p>
<p>Zeit inkl Strafe: {{penaltyTime.hours | number: '2.0-0'}}:{{penaltyTime.minutes | number: '2.0-0'}}:{{penaltyTime.seconds | number: '2.0-0'}}</p>
<br>
    <p>Flaschen & Kronkorken</p>
    <label for="bottles">Fehlende Flaschen: </label>
    <input id="bottles" type="number" [formControl]="bottles" (input)="refreshPenalty()">
    <br><br>
    <label for="bottlecaps">Fehlende Kronkorken: </label>
    <input id="bottlecaps" type="number" [formControl]="bottlecaps" (input)="refreshPenalty()">
<br>
<br>

<button (click)="setTimes()">Fertig</button>
<button (click)="setDNF()">DNF</button>
<button (click)="setDSQ()">DSQ</button>

<!-- <p>{{teamForm.value | json}}</p>
<p>{{currentTeam | json}}</p>
<p>{{penalty}}</p>
<p>{{bottles.value}}</p> -->