<!-- <div class="welcome">
    <h3>Der Kastenlauf 2022</h3>
    <p>Die Topspartart kommt zurück nach Salzhausen, besser als je zuvor. Sei dabei und erringe Ruhm, Ehre und einen Kater am nächsten Tag. Also suche dir deinen Trinkkumpanen und trainiert ordentlich für die Königsdisziplin des Trinkens.
        Auch im Jahr 2022 wird der Kastenlauf wieder stattfinden. Am 07. Mai um 14:00 Uhr wird der Startschuss für den 4. Salzhäuser Kastenlauf gegeben. Meldet Euch jetzt an!
    </p>
</div> -->
<h3>Team anmelden</h3>
<br>

<label for="newTeamName">Team suchen:</label>
<input id="newTeamName" type="text" [formControl]="newTeamName" (input)="searchTeam()">

<br><br>

<ul class="teamnames">
    <li *ngFor="let team of teamnames">
        <button class="name" (click)="getTeamByName(team.teamname)">{{team.teamname}}</button>
        <br>
    </li>
</ul>

<br>

<form [formGroup]="teamForm">
    
    <label for="teamname">Teamname: </label>
    <input id="teamname" type="text" formControlName="teamname" required> 
    <br>
    <div class="radioBox">
        <label for="class">Klasse: </label>
        <br>
        <input class="disziplin" id="men" type="radio" formControlName="class" value="men">
        <label class="disziplin" for="men">Männer</label>
        <br>
        <input class="disziplin" id="women" type="radio" formControlName="class" value="women">
        <label class="disziplin" for="women">Frauen</label>
        <br>
        <input class="disziplin" id="mixed" type="radio" formControlName="class" value="mixed">
        <label class="disziplin" for="mixed">Mixed</label>
        <br>
        <input class="disziplin" id="old" type="radio" formControlName="class" value="younglings">
        <label class="disziplin" for="old">Junggebliebene</label>
    </div>
    <br>
        <p>1. Starter</p>
        <label for="first-name">Name: </label>
        <input id="first-name" type="text" formControlName="first">
        <br><br>
        <label for="telephone-number">Handy-Nummer: </label>
        <input id="telephone-number" type="text" formControlName="fnumber">
    <br>
        <p>2. Starter</p>
        <label for="first-name">Name: </label>
        <input id="first-name" type="text" formControlName="second">
        <br><br>
        <label for="telephone-number">Handy-Nummer: </label>
        <input id="telephone-number" type="text" formControlName="snumber">
    <br>
        <p>3. Starter</p>
        <label for="first-name">Name: </label>
        <input id="first-name" type="text" formControlName="third">
        <br><br>
        <label for="telephone-number">Handy-Nummer: </label>
        <input id="telephone-number" type="text" formControlName="tnumber">
    <br>
        <p>4. Starter</p>
        <label for="first-name">Name: </label>
        <input id="first-name" type="text" formControlName="fourth">
        <br><br>
        <label for="telephone-number">Handy-Nummer: </label>
        <input id="telephone-number" type="text" formControlName="vnumber">
    <br>
    <div class="radioBox">
        <label for="beer">Bier: </label>
        <br>
        <input class="beer" id="krom" type="radio" formControlName="beer" value="Krombacher (24x0,33l)">
        <label class="beer" for="krom">Krombacher (24x0,33l)</label>
        <br>
        <input class="beer" id="becks" type="radio" formControlName="beer" value="Becks (24x0,33l)">
        <label class="beer" for="becks">Becks (24x0,33l)</label>
        <br>
        <input class="beer" id="astra" type="radio" formControlName="beer" value="Astra (27x0,33l)">
        <label class="beer" for="astra">Astra (27x0,33l)</label>
        <br>
        <input class="beer" id="radler" type="radio" formControlName="beer" value="Krombacher Radler (24x0,33l)">
        <label class="beer" for="radler">Krombacher Radler (24x0,33l)</label>
    </div>
    <br>
    <div class="radioBox">
        <label for="member">Ein Starter ist Mitglied im Verein: </label>
        <br>
        <input class="member" id="yes" type="radio" formControlName="member" value="yes">
        <label class="member" for="yes">Ja</label>
        <br>
        <input class="member" id="no" type="radio" formControlName="member" value="no">
        <label class="member" for="no">Nein</label>
    </div>
</form>
<br>

<button class="end" (click)="onSubmit()">Anmelden</button>
<p></p>
<button class="clear" (click)="clear()">Clear</button>

<!-- <p>{{teamForm.value | json}}</p>

<p>{{currentTeam | json}}</p> -->