h3 {
    position: relative;
    left: 10%;
    color: #1e2e6f;
    margin-top: 20px;
    margin-bottom: 0px;
}
div.rules,div.welcome{
    max-width: 90%;
}
p {
    position: relative;
    left: 11%;
    max-width: 90%;
    line-height: 2.2;
}
div.gruppen{
    position: relative;
    left: 12%;
    margin-bottom: 5%;
    max-width: 90%;
}
tab{
    position: relative;
    left: 2%;
    line-height: 2.2;
}