<div class="carousel">    
    <carousel [isAnimated]="true">
        <slide>
            <img src="assets/image.jpg" alt="Kastenlauf 2022 Image-Bild" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image2.jpg" alt="Kastenlauf 2022 Image-Bild" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/image3.jpg" alt="Kastenlauf 2022 Image-Bild" style="display: block; width: 100%;">
        </slide>
    </carousel>
  </div>
<div class="welcome">
    <h3>Der Kastenlauf 2022</h3>
    <p>Die Topsportart kommt zurück nach Salzhausen, besser als je zuvor. Sei dabei und erringe Ruhm, Ehre und einen Kater am nächsten Tag. Also suche dir deinen Trinkkumpanen und trainiert ordentlich für die Königsdisziplin des Trinkens.
        Auch im Jahr 2022 wird der Kastenlauf wieder stattfinden. Am 07. Mai wird nachmittags (die genaue Uhrzeit folgt noch) der Startschuss für den 4. Salzhäuser Kastenlauf gegeben. Meldet Euch jetzt an!
    </p>
</div>
<div class="rules">
    <h3>Die Regeln</h3>
    <p> 
        Das Mindestalter der Teilnehmer liegt bei 16 Jahren.
        <br>Teilnahmeberechtigt ist nur, wer gesundheitlich fit ist und Alkohol verträgt. Der Biergenuss ist kein Zwang, sondern erfolgt nach eigenem Ermessen.
        <br> Die Teilnehmer müssen als Team mit leerem Bierkasten die Ziellinie überschreiten.
        <br>Zwischen dem Überschreiten der Startlinie und dem Überschreiten der Ziellinie darf der Kasten den Boden nicht berühren.
        <br>Die Schiedsrichter haben Recht und den Anweisungen ist Folge zu leisten.
        <br>Bierflaschen und Kronkorken sind im Ziel vollständig abzugeben, bei fehlenden Kronkorken und/oder Bierflaschen werden wie folgt Strafminuten vergeben:
        <br> - 15 Minuten Strafe pro Flasche
        <br> - 10 Minuten Strafe pro Kronkorken
        <br>Sollten zum Zeitpunkt des Passierens der Ziellinie noch volle Flaschen im Kasten sein, so wird eine Strafzeit von 9:30 Minuten pro Flasche vergeben.
        <br>Absichtliches Verschütten oder absichtliches noch einmal angeschautes Bier (=erbrochenes) führt zur sofortigen Disqualifikation.
        <br>Betrugsversuche (z.B. Wegschütten, andere Leute trinken lassen, alkoholfreies Bier verwenden) wird ebenfalls mit sofortiger Disqualifikation geahndet.
        <br>Essen und Nicht-Alkoholische Getränke sind erlaubt.
        <br>Rollbare Tragehilfen sind nicht zugelassen.
        <br>Sicherheit geht vor! Sobald ein Spieler seine eigenen Grenzen nicht richtig einschätzen konnte, müssen ihm die anderen Spieler oder Schiedsrichter helfen.
        <br>Spieler dürfen zu jeder Zeit aus freiem Willen das Spiel verlassen.
        <br>Es gibt vier Wertungsgruppen in denen gestartet werden kann. Diese Teilen sich wie folgt auf:
    </p>
    <div class="gruppen">
        <tabset tye="pills">
            <tab heading="Männer" id="tab1">- nur Männer<br> - nur Bier erlaubt<br> - 16-44 Jahre im Durchschnitt<br> - 2-3 Starter</tab>
            <tab heading="Frauen" id="tab2">- nur Frauen<br> - Bier und Radler erlaubt<br> - 16-44 Jahre im Durchschnitt<br> - 3-4 Starter</tab>
            <tab heading="Mixed" id="tab3">- Frauen/Männer<br> - Bier und Radler erlaubt<br> - 16-44 Jahre im Durchschnitt<br> - 3-4 Starter</tab>
            <tab heading="Junggebliebene" id="tab4">- Frauen/Männer<br> - Bier und Radler erlaubt<br> - 45+ Jahre im Durchschnitt<br> - 3-4 Starter</tab>
        </tabset>
    </div>
</div>
