h3 {
    position: relative;
    left: 10%;
    color: #1e2e6f;
    margin-top: 20px;
    margin-bottom: 0px;
}
div.rules,div.welcome{
    max-width: 90%;
}
p {
    position: relative;
    left: 11%;
    max-width: 90%;
    line-height: 2.2;
}
div.gruppen{
    position: relative;
    left: 12%;
    margin-bottom: 5%;
    max-width: 90%;
}
tab{
    position: relative;
    left: 2%;
    line-height: 2.2;
}
div.carousel {
    background-color: lightgray;
    position: relative;
    max-width: 100%;
}
img {
    position: relative;
    max-height: 600px;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}